<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings>
<info/>
<settingData>
<wordwrap>true</wordwrap>
<initial_width>1000</initial_width>
<initial_height>800</initial_height>
<tabwidth>4</tabwidth>
<font_size>15</font_size>
<linenumbers>false</linenumbers>
<styleset>Simple Dark</styleset>
</settingData>
</settings>
