<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings>
<info/>
<settingData>
    <kvpair key="tabwidth">
        <value>4</value>
    </kvpair>
    <kvpair key="ocaml_binary_location">
        <value>/usr/local/bin/ocaml</value>
    </kvpair>
    <kvpair key="ocaml_debug_location">
        <value>/usr/local/bin/ocamldebug</value>
    </kvapir>
</settingData>
</settings>
