<!DOCTYPE html>
<html>
    <head>
        <title>Oasis IDE</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
    </head>
    <body>
        <div id="page">
            <div id="header">
                <h1>Oasis IDE</h1>
            </div>
            <div id="page-body">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
            </div>
    </body>
</html>
