{% extends "Default.html" %}

{% block content %}
<div id="download-content">

    <h2>System Requirements</h2>
    <p>Because of limitations built into the ocaml binaries (specifically ocamldebug), Oasis IDE requires a unix-based operating system like Mac OS X or Linux. Additionally, it requires java, ocaml, ocamlc and ocamldebug.</p>

    <h2>Download Oasis IDE</h2>

    <p>The most recent version of Oasis IDE is <strong>1.0beta</strong>. If you're a Brown student, we recommend using the installation on the department machines because it will be updated regularly with every bugfix we push to the repository. See <a href="/at-brown">@brown</a> for how to run Oasis at Brown University.</p>

    <h3>Executable .jar file</h3>
    <p>You may download Oasis IDE as a compiled .jar file. Download the current version: <a href="/dist/OasisIDE-1.0beta.jar">OasisIDE-1.0beta.jar</a>. To run the jar and start the application run the following:</p>
    <pre class="command-line">
$ java -jar OasisIDE-1.0beta.jar
</pre>

    <h3>Compile from source</h3>
    <p>The source code for Oasis IDE is publicly available on <a href="https://github.com/jbowens/Oasis-IDE">github.com</a>. You can clone or download the source code from github and compile the source yourself. An ant build file is included in the repository.</p>
    <pre class="command-line">
$ git clone git://github.com/jbowens/Oasis-IDE.git
$ cd Oasis-IDE
$ ant compile
</pre>
</div>
{% endblock %}
