{% extends "Default.html" %}

{% block content %}
    <div id="info-column">
        <div class="colBox">
        <h3>Download Oasis IDE</h3>
            <p><a href="/dist/OasisIDE-1.0beta.jar" id="download-jar-link">OasisIDE-1.0beta.jar</a></p>
        </div>

        <div class="colBox">
        <h3>System Requirements</h3>
            <p>To run Oasis, you must have <span class="program">java</span>, <span class="program">ocaml</span> and <span class="program">ocamldebug</span> installed.</p>
        </div>

        <div class="colBox">
        <h3>Get Involved</h3>
        <p>
            <iframe src="http://ghbtns.com/github-btn.html?user=jacksono&repo=Oasis-IDE&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=jacksono&repo=Oasis-IDE&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px"></iframe>
            </p>
        </div>

        <div class="colBox">
        <h3>Use at Brown</h3>
        <div id="use-at-brown">
            <pre class="command-line">$ oasis &amp;</pre>
        </div>
        </div>

    </div>
    <div id="index-content">
        <h2>An OCaml development environment</h2>
        <p>Oasis is an IDE intended for learners. It was created as a CS32 project at Brown in order to meet the needs of
        the students of <a href="http://www.cs.brown.edu/courses/cs017/">CS17</a>.</p>
        <h3>Screenshots</h3>
        <div class="screenshots">
            <div class="screenshot"><a href="/static/images/screen1.png"><img src="/static/images/screen1.png" width="160" height="160" alt="Oasis IDE on Mac OS X" /></a></div>
            <div class="screenshot"><a href="/static/images/screen2.png"><img src="/static/images/screen2.png" width="160" height="160" alt="Oasis IDE on Mac OS X" /></a></div>
         </div>
    </div>
    <div class="clear"></div>
{% endblock %}
