{% extends "Default.html" %}

{% block content %}
    <div id="info-column">
        <h3>Download Oasis IDE</h3>
        <a href="/dist/Oasis-IDE-1.0beta.jar" id="download-jar-link">Oasis-IDE-1.0beta.jar</a>
    </div>
    <div id="index-content">
        <h2>An OCaml development environment</h2>
        <p>Oasis is an IDE intended for learners. It was created as a CS32 project at Brown in order to meet the needs of
        the students of <a href="http://www.cs.brown.edu/courses/cs017/">CS17</a>.</p>
    </div>
    <div class="clear"></div>
{% endblock %}
